





# Installer logs
# Packages
# PyTest
# Translations
# Unit test / coverage reports
*.egg
*.egg-info
*.mo
*.orig
*.py[cod]
.cache
.coverage.*
.installed.cfg
.pytest_cache/
.tox
/.python-version
bin
build
develop-eggs
dist
eggs
junit.xml
lib64
local
nosetests.xml
parts
pip-log.txt
sdist
var
venv
