*.py[cod]
*.orig

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
local
var
sdist
develop-eggs
.installed.cfg
lib64
venv

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage.*
.tox
nosetests.xml
junit.xml

# Translations
*.mo

.cache

# PyTest
.pytest_cache/
